<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<h3>Form for adding a user</h3>
<form th:action="@{/users}" th:object="${usernew}" method="post">
    <label for="name">Enter name: </label>
  <input type="text" th:field="*{name}" id="name"/>
    <br>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br>
    <label for="department">Enter department: </label>
    <input type="text" th:field="*{department}" id="department"/>
    <br>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br>
    <input type="submit" value="OK"/>
</form>

</body>
</html>